<!-- QUIZ EN COURS -->
<button routerLink="/">Retour à la liste des pays</button>
<div *ngIf="!question">
  Chargement du quiz...
</div>
<div class="quiz-container" *ngIf="question && !isFinished">
  <div class="quiz-card">
    <h2 class="quiz-title">
      Question {{ questionNumber }} / {{ TOTAL_QUESTIONS }}
    </h2>

    <div class="flag-container">
      <img
        [src]="question.flagUrl"
        alt="Drapeau"
        class="flag-image"
      />
    </div>

    <div class="options">
      <button
        *ngFor="let option of question.options"
        class="option-button"
        (click)="selectOption(option)"
        [disabled]="question.userAnswer"
        [class.correct]="question.userAnswer && option === question.correctAnswer"
        [class.wrong]="question.userAnswer && option === question.userAnswer && option !== question.correctAnswer"
      >
        {{ option }}
      </button>
    </div>

    <p *ngIf="question.userAnswer" class="answer-feedback">
      {{ question.isCorrect ? '✅ Bonne réponse !' : '❌ Mauvaise réponse' }}
    </p>
  </div>
</div>

<!-- FIN DU QUIZ -->
<div class="quiz-container" *ngIf="isFinished">
  <div class="quiz-card result">
    <h2 class="quiz-title">Quiz terminé 🎉</h2>

    <p class="final-score">
      Score final :
      <strong>{{ score }} / {{ TOTAL_QUESTIONS }}</strong>
    </p>

    <p *ngIf="score >= 9" class="result-message excellent">beau gosse!</p>
    <p *ngIf="score >= 5 && score < 9" class="result-message good">ça va</p>
    <p *ngIf="score < 5" class="result-message retry">Loser !</p>
  </div>
</div>